<div fxShow fxHide.gt-sm="true" (click)="toggle()"></div>
<a [href]="'/dashboard'">
<div class="logo"></div>
<h4 appScroll class="header-title">Рейтинг спортсменов<br>Харьковской области</h4>
</a>
<div class="container" [class.change]="isMenuOpened" (click)="toggle()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>
<nav mat-tab-nav-bar class="navbar">
  <a mat-tab-link
     *ngFor="let link of userNavLinks"
     [routerLink]="link.path"
     routerLinkActive #rla="routerLinkActive"
     [active]="rla.isActive">
    <div class="link-wrapper">
      <mat-icon>{{link.icon}} icon</mat-icon>
      <span>{{link.label}}</span>
    </div>
  </a>
  <ng-container *ngIf="isAdmin">
    <a mat-tab-link
       *ngFor="let link of adminNavLinks"
       [routerLink]="link.path"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      <div class="link-wrapper link-admin">
        <mat-icon>{{link.icon}} icon</mat-icon>
        <span>{{link.label}}</span>
      </div>
    </a>
    <div class="log-out">
      <div class="link-wrapper link-admin" (click)="logOut()">
        <mat-icon>account_circle icon</mat-icon>
        <span>Выход</span>
      </div>
    </div>
  </ng-container>
</nav>
