@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../../assets/styles/variables';

.mat-tab-link {
  &:hover {
    background: $light-gray-color;
  }

  padding: 0 1rem;
  min-width: 13rem;

  .link-wrapper {
    line-height: $line-height;
    display: flex;
    justify-content: start;

    &.link-admin {
      color: $error-color;
    }
  }

  &.mat-tab-label-active {
    color: $primary-color;
    font-weight: 600;
  }
}

.log-out {
  line-height: 2.2rem;
  font-size: 1.4rem;
  color: $error-color;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  padding: 0 2.4rem;
  opacity: .6;
  cursor: pointer;

  .link-admin {
    color: $error-color;
    line-height: 2.2rem;
    display: flex;
    justify-content: start;
    padding: 12px 0;
  }
}

.header-title {
  opacity: 0;
  transition: opacity .5s ease-in-out;
  position: absolute;
  left: 3.5rem;
  z-index: 10;
  padding-left: 1rem;

  &.visible-title {
    opacity: 1;
  }
}

.logo {
  display: block;
  border-bottom: 10px solid $error-color;
  border-top: 10px solid $white-color;
  border-right: 10px solid $error-color;
  border-left: 10px solid $white-color;
  width: 0;
  height: 0;
  position: absolute;
  top: 14px;
  left: 15px;
  z-index: 10;
}

@media only screen and (max-width: $screen-width-sm) {
  .mat-tab-link {
    .link-wrapper {
      width: 13rem;
    }
  }

  .log-out {
    .link-admin {
      width: 13rem;
      display: flex;
      margin: 0 auto;
    }
  }

  .container {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 3;
  }

  .navbar {
    display: none;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 30px;
    height: 2px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: .4s;
  }

  .change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
  }

  .change .bar2 {
    opacity: 0;
  }

  .change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
