@import '../../assets/styles/variables';

.footer-links {
  text-decoration: none;
  color: $white-color;
  font-size: .9em;
  margin-left: .5em;
}

.copyright {
  font-size: .9em;
  text-align: center;
  color: $white-color;
  margin-left: .5em;
}
