@import '../../assets/styles/variables';

.footer-links {
  text-decoration: none;
  color: $white-color;
  font-size: 1.7rem;
  margin-left: .5rem;
}

.copyright {
  font-size: 1.7rem;
  text-align: center;
  color: $white-color;
  margin-left: .5rem;
}
