<app-preloader *ngIf="!isLoaded"></app-preloader>
<mat-card class="example-card wrapper-base-margin margin" *ngIf="competitionInfo">
  <mat-card-header>
    <mat-card-title>{{competitionInfo.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div fxLayout="row wrap">
      <div fxFlex="1 0 0" class="wrapper-base-margin margin">
        <div fxLayout="row wrap">
          <div fxFlex="1 0 0">
            <p><strong>Дата проведения:</strong></p>
          </div>
          <div fxFlex="1 0 0">
            <p>{{competitionInfo.date | date: 'dd-MM-yyy'}}</p>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="1 0 0">
            <p><strong>Участников:</strong></p>
          </div>
          <div fxFlex="1 0 0">
            <p>{{competitionInfo.members}}</p>
          </div>
        </div>
        <div fxLayout="row wrap">
          <div fxFlex="1 0 0">
            <p><strong>Ссылка:</strong></p>
          </div>
          <div fxFlex="1 0 0">
            <p><a [href]="competitionInfo.url" target="_blank">Результаты</a></p>
          </div>
        </div>
      </div>
      <div fxFlex="1 0 0" class="wrapper-base-margin margin"></div>
    </div>
  </mat-card-content>
</mat-card>
<div fxLayout="row wrap" fxLayoutAlign=”center”>
  <div class="wrapper-base-margin margin" fxFlex="1 0 auto">
    <div *ngIf="runnersMan.length">
      <h2>Мужчины:</h2>
      <div *ngFor="let group of runnersMan; let i = index">
        <h3>{{runnersGroupMan[i]}}</h3>
        <table mat-table [dataSource]="group" class="wrapper-base-margin margin mat-elevation-z1 full-width-table">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> №</th>
            <td mat-cell *matCellDef="let competition; let i = index"> {{i + 1}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Имя</th>
            <td mat-cell *matCellDef="let competition"> {{competition.name}}</td>
          </ng-container>
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Результат</th>
            <td mat-cell *matCellDef="let competition"> {{competition.time}}</td>
          </ng-container>
          <ng-container matColumnDef="resultBehind">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let competition"><strong>{{competition.timeBehind || '___'}}</strong></td>
          </ng-container>
          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Очки</th>
            <td mat-cell *matCellDef="let competition"> {{competition.points}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="wrapper-base-margin margin" fxFlex="1 0 auto">
    <div *ngIf="runnersWoman.length">
      <h2>Женщины:</h2>
      <div *ngFor="let data of runnersWoman; let i = index">
        <h3>{{runnersGroupWoman[i]}}</h3>
        <table mat-table [dataSource]="data" class="wrapper-base-margin margin mat-elevation-z1 full-width-table">
          <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> №</th>
            <td mat-cell *matCellDef="let competition; let i = index"> {{i + 1}}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Имя</th>
            <td mat-cell *matCellDef="let competition"> {{competition.name}}</td>
          </ng-container>
          <ng-container matColumnDef="result">
            <th mat-header-cell *matHeaderCellDef> Результат</th>
            <td mat-cell *matCellDef="let competition"> {{competition.time}}</td>
          </ng-container>
          <ng-container matColumnDef="resultBehind">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let competition"><strong>{{competition.timeBehind}}</strong></td>
          </ng-container>
          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Очки</th>
            <td mat-cell *matCellDef="let competition"> {{competition.points}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
  </div>
</div>
