@import '../assets/styles/variables';

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: $white-color;
  z-index: 2;
  min-height: $header-height;
}

.container-wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1.5em;
}
