@import '../../assets/styles/variables';

.column-relative {
  position: relative;
}

.position-icon {
  position: absolute;
  left: 4.5rem;
  bottom: 1.1rem;
  cursor: help;
}

.three-point-text {
  max-width: 9rem;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.example-form.form-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table td.mat-cell {
  &:last-of-type {
    text-align: left;
  }
}

