<div fxLayout="row wrap" fxLayoutAlign=”center”>
  <mat-expansion-panel class="wrapper-base-margin margin" fxFlex="1 0 auto" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Мужчины</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>Корректировка: <b>-12.44</b></span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-checkbox color="primary">Скрыть субъективные</mat-checkbox>
      <mat-form-field>
        <input matInput (keyup)="applyFilterMan($event.target.value)" placeholder="Поиск по имени или клубу">
      </mat-form-field>
    </form>
    <table mat-table [dataSource]="dataSourceMen" matSort class="mat-elevation-z8 full-width-table">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> №</th>
        <td mat-cell *matCellDef="let element"> {{element.number}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Клуб</th>
        <td mat-cell *matCellDef="let element"> {{element.club}}</td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Очки</th>
        <td mat-cell *matCellDef="let element"> {{element.points}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
  <mat-expansion-panel class="wrapper-base-margin margin" fxFlex="1 0 auto" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span>Женщины</span>
      </mat-panel-title>
      <mat-panel-description>
        <span>Корректировка: <b>-7.64</b></span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form class="example-form">
      <mat-checkbox color="primary">Скрыть субъективные</mat-checkbox>
      <mat-form-field>
        <input matInput (keyup)="applyFilterWoman($event.target.value)" placeholder="Поиск по имени или клубу">
      </mat-form-field>
    </form>
    <table mat-table [dataSource]="dataSourceWomen" matSort class="mat-elevation-z8 full-width-table">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> №</th>
        <td mat-cell *matCellDef="let element"> {{element.number}}</td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Имя</th>
        <td mat-cell *matCellDef="let element"> {{element.name}}</td>
      </ng-container>
      <ng-container matColumnDef="club">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Клуб</th>
        <td mat-cell *matCellDef="let element"> {{element.club}}</td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Очки</th>
        <td mat-cell *matCellDef="let element"> {{element.points}}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-expansion-panel>
</div>
