@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/styles/mat-ang-custom-style';
@import 'assets/styles/variables';

body {
  font-size: 10px;
  margin: $header-height 0 0;
}

h1 {
  margin: 1em 0 .5em .5em;
  font-size: 3em;
}

.wrapper-base-margin.margin {
  margin: $wrapper-base-margin;
}

.mat-icon.fa {
  font-family: FontAwesome;
}

td.mat-cell.mat-column-status {
  &:first-of-type {
    padding: 12px;
  }
}
