@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'assets/styles/mat-ang-custom-style';
@import 'assets/styles/variables';

html {
  height: 100%;
}

body {
  font-size: 10px;
  margin: $header-height 0 0;
  height: calc(100% - 5em);
}

h1 {
  margin: 1em 0 .5em .5em;
  font-size: 3em;
}

app-root {
  display: block;
  height: 100%;
}

.wrapper-base-margin.margin {
  margin: $wrapper-base-margin;
}

.white-icon {
  color: $white-color;
}

.mat-icon.fa {
  font-family: FontAwesome;
}

td.mat-cell.mat-column-status {
  &:first-of-type {
    padding: 12px;
  }
}

.error-icon {
  color: $error-color;
}

.success-icon {
  color: $success-color;
}

.pending-icon {
  color: $primary-color;
}

.stable-icon {
  color: $gray-color;
}

.full-width-table {
  width: 100%;
}
