@import './variables';

.mat-card-header {
  .mat-card-title {
    font-size: 20px;
  }
}

.mat-card-header {
  .mat-card-header-text {
    margin: 0;
  }
}

.mat-expansion-panel-header {
  font-size: 20px;
}

.mat-icon.fa {
  font-family: FontAwesome;
}

.mat-tab-links {
  justify-content: center;
}

td.mat-cell.mat-column-status {
  &:first-of-type {
    padding: 1.2rem;
  }
}

table {
  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    padding: 1rem 1.5rem;
    box-sizing: border-box;
  }

  td.mat-cell.mat-column-status {
    &:first-of-type {
      padding: 1rem 1.5rem;
      box-sizing: border-box;
    }
  }
}

@media only screen and (max-width: $screen-width-sm) {
  .container.change {
    + .navbar {
      display: block;
    }
  }

  .mat-tab-links {
    flex-direction: column;
  }

  .mat-tab-nav-bar.mat-primary {
    min-height: $header-height;
  }

  .date-column {
    td {
      white-space: pre;
      padding: 0 .5rem;
      text-align: left;
    }
  }
}
