@import './variables';

.mat-icon.fa {
  font-family: FontAwesome;
}

.mat-tab-links {
  justify-content: center;
}

td.mat-cell.mat-column-status {
  &:first-of-type {
    padding: 1.2em;
  }
}

@media only screen and (max-width: $screen-width-md) {
  .container.change {
    + .navbar {
      display: block;
    }
  }

  .mat-tab-links {
    flex-direction: column;
  }

  .mat-tab-nav-bar.mat-primary {
    min-height: $header-height;
  }

  .date-column {
    td {
      white-space: pre;
      padding: 0 .5em;
      text-align: left;
    }
  }
}
