$bottom-blocks-margin: 2rem;
$header-height: 5rem;
$wrapper-base-margin: 1.5rem;
$line-height: 2.2rem;
$header-margin: 30px 0 15px 15px;

// colors

$white-color: #fff;
$error-color: #f00;
$success-color: #008000;
$primary-color: #3f51b5;
$gray-color: #959595;

// breakpoints
$screen-width-xs: 599px;
$screen-width-sm: 960px;
$screen-width-md: 1279px;
$screen-width-lg: 1919px;
$screen-width-xl: 5000px;
