$bottom-blocks-margin: 2em;
$header-height: 5em;
$wrapper-base-margin: 1.5em;
$line-height: 1.8em;

// colors
$white-color: #fff;
$error-color: #f00;
$success-color: #008000;
$primary-color: #3f51b5;

// breakpoints
$screen-width-xs: 599px;
$screen-width-sm: 960px;
$screen-width-md: 1279px;
$screen-width-lg: 1919px;
$screen-width-xl: 5000px;

