<nav class="navbar navbar-light navbar-expand bg-light">
  <ul class="navbar-nav mx-auto justify-content-center">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/home'" routerLinkActive="active">
        <span class="icon menu-icon ori-icon-control-point"><span class="description">Главная</span></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/runners'" routerLinkActive="active">
        <span class="icon menu-icon ori-icon-users"><span class="description">Рейтинг</span></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/competitions'" routerLinkActive="active">
        <span class="icon menu-icon ori-icon-map"><span class="description">Соревнования</span></span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="'/about'" routerLinkActive="active">
         <span class="icon menu-icon ori-icon-safari"><span class="description">О приложении</span></span>
      </a>
    </li>
  </ul>
</nav>