@import '../../../variables';

@media (max-width: 840px) {
    .description {
        display: none;
    }
}

@media (max-width: 450px) {
    .navbar-nav {
        .nav-item {
            margin-left : 1em;
            margin-right : 1em;
        }
    }
}

@media (min-width: 451px) {
    .navbar-nav {
        .nav-item {
            margin-left : 2em;
            margin-right : 2em;
        }
    }
}

.navbar {
    width: 100%;
    position: fixed;
    padding: 0.5rem 0;

    .nav-link.active {
        background-color: $active-menu-item-color;
        border-radius: 4px;
        color: white;
    }

    .description {
        margin-left: 7px;
    }
}

.icon:before {
    font-size: 1.8em;
    vertical-align: -36%;
    line-height: 0.75em;
}

.ori-icon-control-point:before {
    font-size: 2.3em;
    vertical-align: -50%;
}

